$ui-yellow: #bea67c;
$ui-white: #ffffff;
$ui-black: #000000;
$ui-grey: #888887;
// // basic margin and padding, simple way to change it in all app
// basic size for many margin, padding, width. Simple way to change evrithing in a mobile version
//10 px if 1rem = 16px -default value
$basic-margin: 0.625rem; // 10px if 1rem = 16px
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px; //lg
$breakpoint-md: 768px; //md
$breakpoint-sm: 576px; //sm
$breakpoint-xs: 360px;
@mixin app-text {
  font-family: 'Poxima Nova';
  font-weight: bold;
  font-size: 15px;

  &--weight-normal {
    font-weight: normal;
  }
  &--white {
    color: $ui-white;
  }
  &--grey {
    color: $ui-grey;
  }
  &--yellow {
    color: $ui-yellow;
  }
  &--uppercase {
    text-transform: uppercase;
  }

  &--bold {
    font-weight: bold;
  }
  &--letter-spacing-3 {
    letter-spacing: 3px;
  }
  &--letter-spacing-11 {
    letter-spacing: 11px;
  }
  &--letter-spacing-20 {
    letter-spacing: 20px;
  }

  &--xs {
    font-size: 10px;
  }
  &--s {
    font-size: 13px;
  }
  &--m {
    font-size: 15px;
  }
  &--ml {
    font-size: 16px;
  }
  &--l {
    font-size: 36px;
  }
  &--xl {
    font-size: 48px;
  }
  &--xxl {
    font-size: 52px;
  }
  &--xxxl {
    font-size: 100px;
  }
  &--xxxxl {
    font-size: 395px;
  }
}
