@import '../../../theme/variables.scss';

.header {
  padding: 2 * $basic-margin;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 3;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu__item {
      padding-right: 9 * $basic-margin;

      &:first-child {
        position: relative;
        z-index: 3;

        &::before {
          position: absolute;
          content: '';
          background-image: url(../../../assets/header-wooder.svg);
          top: 45%;
          left: 44px;
          width: 60px;
          height: 4px;
          z-index: -1;
        }
      }
    }

    &--mobile {
      position: fixed;
      right: 0px;
      top: 0px;
      bottom: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      .menu__item {
        padding-top: 4 * $basic-margin;
        padding-right: 10px !important;
        color: $ui-black;
      }
    }
  }
  .burger-bar {
    &--mobile {
      position: fixed;
      top: 2 * $basic-margin;
      left: 2 * $basic-margin;
    }
    .burger-menu {
      display: flex;
      align-items: center;

      &__title {
        padding-left: 2 * $basic-margin;
      }
    }
  }
}
