@import '../../../theme/variables.scss';
.footer {
  margin-top: $basic-margin;
  background-color: $ui-black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    position: relative;
    z-index: 3;
    &::before {
      position: absolute;
      content: '';
      background-image: url(../../../assets/header-wooder.svg);
      top: 45%;
      left: 44px;
      width: 60px;
      height: 4px;
      z-index: -1;
    }
  }
}
